
@{
    Layout = "_BaseLayout";
    ViewData["Title"] = "AccessDenied";
}

<div class="screen-centered flex-column text-center">
        <h1 class="text-danger">@ViewBag.AccessDenied</h1>
        <h3 class="text-warning">@ViewBag.AccessDenied2</h3>
</div>

