<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>@ViewData["Title"] - ProductPriceTracking.MvcUi</title>
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href="~/lib/fontAwesome/css/all.min.css" />*@
    <script async src="~/lib/fontAwesome/js/all.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/simple-sidebar.css" />
    <link rel="shortcut icon" href="~/favicon.ico">
</head>
<body>

    @RenderBody()


    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    <scripts render="true"></scripts>
</body>
</html>
