@{
    ViewData["Title"] = "NotFoundPage";
}

<div class="screen-centered flex-column">
    <h1>İÇERİĞİNİZ GÖRÜNTÜLENEMİYOR</h1>
    <h2>@TempData["ErrorTitle"]</h2>
    <p>@TempData["ErrorMassage"]</p>
</div>

